:root {
    --purple: #4b1b9e;
    --shadow: #808080;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

header {
    height: 200px;
    position: relative;
    z-index: 2;
    background-image: url("../images/microscope.jpg");
    /*background-size: cover;*/
}

h1 {
    font-size: 75px;
    color: white;
    padding-left: 50px;
    text-shadow: 0 0 4px var(--purple);
}

nav {
    background-color: var(--purple);
    height: 50px;
}

nav ul{
    list-style: none;
    float: right;
}

nav li{
    padding: 5px 15px;
    color: white;
    display: inline;
}

nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

footer{
    text-align: center;
    line-height: 30px;
}

article{

}

#projects {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 850px;
    flex-flow: row wrap;
    gap: 10px 10px;
    justify-content: center;
}

#about{
    max-width: 850px;
}

article div[id] {
    margin-left: 147px;
    padding: 10px 15px;
    min-height: 300px;
    border-left: solid 3px transparent;
}

article:hover div[id]{
    border-left-color: var(--purple);
    position: relative;
}

article:hover h2{
    background-color: var(--purple);
}

.titleContainer {
    float: left;
    position: fixed;
    top: 0px;
    width: 150px;
    height: 100%;
    background-color: #d1d2d3;
    box-shadow: 2px 0px 3px var(--shadow);
    
}

h2 {
    transform: translateX(150px) rotate(90deg);
    transform-origin: 0% 0%;
    font-size: 35px;
    position: absolute;
    /*color: var(--purple);*/
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-color: #666666;
    font-weight: bolder;
    line-height: 150px;
    width: 300px;
}

.project {
    flex: 1 0;
    height: 150px;
    border: solid 3px black;
    /*   background-color: #b200ff;*/
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    max-width: 390px;
    min-width: 300px;
}

.project:first-of-type{
    flex: 1 0 100%;
    height: 200px;
    max-width: 800px;
}

.project:hover{
    box-shadow: 3px 3px 5px var(--shadow);
    position: relative;
    top: -3px;
    left: -3px;
}

.project div{
    position: absolute;
    bottom: 0px;
    opacity: 85%;
    background-color: var(--purple);
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    text-align: center;
}

.project img{
    border-width: 0;
}

.portrait{
    border: solid 3px var(--purple);
    border-radius: 15px;
    width: 150px;
    box-shadow: 2px 2px 3px var(--shadow);
    float: left;
    margin: 15px;
}

@media screen and (max-width: 992px) {

    .titleContainer{
        display: none;
    }

    h2{
        transform: none;
        font-size: 30px;
        color: var(--purple);
        text-shadow: 2px 2px 3px var(--shadow);
        width: auto;
        line-height: normal;
        position: static;
        border-bottom: solid 3px var(--purple);
        margin: 3px 10px;
    }

    .portrait{
        width: 25vw;
    }

    article div[id] {
        margin-left: 5px;
        padding: 10px 15px;
        min-height:auto;
    }

    .project {
        flex: 1 0 300px;
        height: 200px;
        border: solid 3px black;
        /*   background-color: #b200ff;*/
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        max-width: 500px;
    }

    .project:first-of-type {
        flex: 1 0 100%;
        height: 225px;
    }
    article:hover div[id] {
        border-left: none;
        position: static;
        padding-left: 15px;
    }

    article:hover h2 {
        background-color: initial;
    }

    nav{
        height: 7vh;
        text-align: center;
    }

    nav a{
        font-size: 20px;
    }

    header{
        min-height: 150px;
        height: auto;
    }

    h1{
        font-size: 50px;
        margin: 1vh auto;
    }

    nav li {
        line-height: 7vh;
        padding: 0 3vw;
        color: white;
        display: inline;
    }
    nav ul {
        float: none;
        padding-left: unset;
    }

    .project div {
        font-size: 16px;
        line-height: 25px;
    }
}