:root {
    --purple: #4b1b9e;
    --shadow: #808080;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

header {
    height: 200px;
    position: relative;
    z-index: 2;
    background-image: url("../images/microscope.jpg");
    background-color: var(--purple);
    /*background-size: cover;*/
}

header::after { /*seperate element for box shadow from the header*/
    content: "";
    width: calc(100% - 150px); /*make width the value of the window minus the aside*/
    height: 3px; /*shadow won't appear without a height*/
    box-shadow: 0px 2px 3px var(--shadow);
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 150px; /*start shadow to the right of the aside*/
}

h1 {
    font-size: 75px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-shadow: 0 0 5px var(--purple);
}

h1, header div {
    padding-left: 50px;
    color: white;
}

header div {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    background-color: var(--purple);
    padding-right: 10px;
    box-shadow: 2px 2px 3px #111111;
    margin-bottom: 15px;
}

nav {
    background-color: var(--purple);
    background-image: linear-gradient(var(--purple), var(--purple), #380f7f);
    height: 50px;
}

nav ul{
    list-style: none;
    float: right;
}

nav li{
    padding: 5px 15px;
    color: white;
    display: inline;
}

nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

footer{
    text-align: center;
    line-height: 30px;
}

article {
    position: relative; /*required for the hover effects to show up when mousing over the aside*/
    margin-bottom: 15px;
}

a{
    color: var(--purple);
    text-decoration: none;
}

#projects > div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    flex-flow: row wrap;
    gap: 10px 10px;
    justify-content: center;
}

#contact > div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    justify-content: space-around;
}

article div[data-content] {
    margin-left: 147px;
    padding: 10px 15px;
    min-height: 220px;
    border-left: solid 3px transparent; /*initial border set to transparent, will turn purple on hover*/
    max-width: 1000px;
}

/*when hovering over an article add purple border on left and change heading text to purple*/
article:hover div[data-content] {
    border-left-color: var(--purple);
    position: relative;
}

article:hover h2{
    background-color: var(--purple);
}

.titleContainer {
    float: left;
    position: fixed;
    top: 0px;
    width: 150px;
    height: 100%;
    background-color: #d1d2d3;
    box-shadow: 2px 0px 3px var(--shadow);
}

h2 {
    transform: translateX(150px) rotate(90deg);
    transform-origin: 0% 0%; /*rotate from top left. Default seems to be from center which gives variable results with text length*/
    font-size: 35px;
    position: absolute;
    color: transparent;
    /*color: var(--purple);*/
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6); /*use rgba for opacity. 100% opacity does not look right*/
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-color: #333333;
    font-weight: bolder;
    line-height: 150px;
}

.project {
    flex: 1 0;
    height: 150px;
    border: solid 3px black;
    position: relative;
   /* border-radius: 20px;*/
    overflow: hidden;
    max-width: 500px;
    min-width: 350px;
    margin: 0px;
}

.project:first-of-type{
    flex: 1 0 100%;
    height: 200px;
    max-width: 1000px;
}

    .project:hover {
        position: relative;
        animation: popout .2s forwards;
        box-shadow: 3px 3px 5px var(--shadow);
    }

    .project:hover .projectDescription{
        display: block;
    }
@keyframes popout {
    from {
        top: 0px;
        left: 0px;
    }

    to {
        top: -3px;
        left: -3px;
    }
}



.projectTitle{
    position: absolute;
    bottom: 0px;
    opacity: 85%;
    background-color: var(--purple);
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    z-index: 3;
}

.projectDescription{
    display: none;
    background-color: black;
    color: white;
    opacity: 80%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: calc(100% - 30px);
    z-index: 2;
    align-content: center;
    padding: 15px;
}

.project img{
    border-width: 0;
}

.portrait{
    border: solid 3px var(--purple);
    border-radius: 15px;
    width: 150px;
    box-shadow: 2px 2px 3px var(--shadow);
    float: left;
    margin: 15px;
}

.contactType{
    font-size: 50px;
    vertical-align: middle;
}

.info{
    display: none;
}

@media screen and (max-width: 992px) {
    header::after { /*change the header shadow to be full width*/
        content: "";
        width: 100%; 
        left: 0px;
    }

    .titleContainer{
        display: none;
    }

    h2{
        transform: none;
        font-size: 30px;
        color: var(--purple);
        text-shadow: 2px 2px 3px var(--shadow);
        width: auto;
        line-height: normal;
        position: static;
        border-bottom: solid 3px var(--purple);
        margin: 3px 10px;
    }

    .portrait{
        width: 25vw;
    }

    article div[data-content] {
        margin-left: 5px;
        padding: 10px 15px;
        min-height: auto;
        border-width: 0px;
    }

    .project {
        flex: 1 0 300px;
        position: relative;
        max-width: 500px;
        min-width: 300px;
    }

    .project:first-of-type {
        flex: 1 0 100%;
    }

    /*there are no hover effects on mobile size*/
    article:hover div[data-content] {
        position: static;
        padding-left: 15px;
    }

    article:hover h2 {
        background-color: initial;
    }

    nav{
        height: 7vh;
        text-align: center;
    }

    nav a{
        font-size: 18px;
    }

    header{
        min-height: 150px;
        height: auto;
    }

    h1{
        font-size: 50px;
        margin: 1vh auto;
    }

    nav li {
        line-height: 7vh;
        padding: 0 3vw;
    }
    nav ul {
        float: none;
        padding-left: unset;
    }

    .project div {
        font-size: 16px;
        line-height: 25px;
    }

    /*analog for hover on mobile devices. Show info icon that when clicked will display the project description*/
    .info{
        display: inline-block;
        background-color: var(--purple);
        border-radius: 50%;
        color: white;
        position: absolute;
        z-index: 4;
        width: 20px;
        line-height: 20px;
        text-align:center;
        top: 10px;
        left: 10px;
        font-weight: bolder;
        font-size: 16px;
    }

    .info:hover{
        opacity: 0%; /*the info icon needs to disappear but not be removed from the page to keep the hover*/
    }

    .info:hover + a .projectDescription{
        display: block;
    }

    /*remove large screen hover functionality*/
    .project:hover .projectDescription {
        display: none; 
    }
}